[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
pytest-flake8 = "*"

[packages]
tensorflow-gpu = "*"
pandas = "*"
numpy = "*"
scikit-image = "*"
scikit-learn = "*"
jupyter = "*"
scikit-optimize = "*"

[requires]
python_version = "3.6"
